In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import urllib.request
import os

In [2]:
url = 'http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls'
filepath='data/titanic3.xls'
if not  os.path.isfile(filepath):
    result = urllib.request.urlretrieve(url, filepath)
    print('downloaded:', result)

In [3]:
import pandas as pd
import numpy as np

In [4]:
all_df = pd.read_excel(filepath)

In [5]:
all_df[:2]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
cols = ['survived', 'name', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']
all_df = all_df[cols]

In [7]:
df = all_df.drop(['name'], axis=1)

In [8]:
all_df.isnull().sum()

survived      0
name          0
pclass        0
sex           0
age         263
sibsp         0
parch         0
fare          1
embarked      2
dtype: int64

In [9]:
age_mean = df['age'].mean()
df['age'] = df['age'].fillna(age_mean)

In [10]:
fare_mean = df['fare'].mean()
df['fare'] = df['fare'].fillna(fare_mean)

In [11]:
df['sex'] = df['sex'].map({'female':0, 'male':1}).astype(int)

In [12]:
X_onehot_df = pd.get_dummies(data=df, columns=['embarked'])

In [13]:
X_onehot_df[:2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S
0,1,1,0,29.0000,0,0,211.3375,0,0,1
1,1,1,1,0.9167,1,2,151.5500,0,0,1

In [14]:
ndarray = X_onehot_df.values

In [15]:
ndarray.shape

(1309, 10)

In [16]:
ndarray[:2]

array([[  1.    ,   1.    ,   0.    ,  29.    ,   0.    ,   0.    ,
        211.3375,   0.    ,   0.    ,   1.    ],
       [  1.    ,   1.    ,   1.    ,   0.9167,   1.    ,   2.    ,
        151.55  ,   0.    ,   0.    ,   1.    ]])

In [17]:
Label = ndarray[:,0]
Features = ndarray[:,1:]

In [18]:
from sklearn import preprocessing

In [19]:
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0,1))

In [20]:
scaledFeatures = minmax_scale.fit_transform(Features)

In [21]:
scaledFeatures[:2]

array([[0.        , 0.        , 0.36116884, 0.        , 0.        ,
        0.41250333, 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.00939458, 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ]])